<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <jmxConfigurator />
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
  <springProperty name="rootLevel" source="logging.level.root" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr([%15.15t{14}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <root level="${rootLevel}">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="jndi" level="WARN" />
  <logger name="org.springframework" level="WARN" />
  <logger name="org.apache" level="WARN" />
  <logger name="org.xnio" level="WARN" />
  <logger name="org.hibernate" level="WARN" />
  <logger name="io.undertow" level="WARN" />
  <logger name="org.jboss" level="WARN" />
</configuration>